{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frog Head Forums</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
  <div class="wrapper">


    <header class="header1">
      <ul class="nav1-left">
        <li><a href="{% url 'home' %}">Home</a></li>
      </ul>

      <ul class="nav1-right">
        {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'register' %}">Register</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
      </ul>
    </header>

    <header class="header2">
      <ul class="nav2">
        <li><img src="{% static '\images\frogheadbanner.png'%}" alt="FrogHeadBanner"></li>
      </ul>
    </header>
    

    <header class="header3">
      <input type="search" name="search" id="search" placeholder="Search Topic">
      {% if user.is_authenticated %}
      <div class="welcome"><p>Welcome, <b>{{user.username}}</b><p></div>
      {% endif %}
    </header>
    

    <aside class="aside1">
      <ul>
        <li>
          <li class="threads"><a href="#"><h4>🐸 Thread 1</h4></a></li>
        </li>
        <li>
          <li class="threads"><a href="#"><h4>🐸 Thread 2</h4></a></li>
        </li>
        <li>
          <li class="threads"><a href="#"><h4>🐸 Thread 3</h4></a></li>
        </li>
        <li>
          <li class="threads"><a href="#"><h4>🐸 Thread 4</h4></a></li>
        </li>
        <li>
          <li class="threads"><a href="#"><h4>🐸 Thread 5</h4></a></li>
        </li>

      </ul>
    </aside>

    <article class="main">
      {% block content %}{% endblock content %}
    </article>

    </header>
    <aside class="aside2">
      <div class="ad1">Ad 1
      </div>
      <div class="ad2">Ad 2</div>
      <div class="ad3">Ad 3</div>
    </aside>

  </div> 

    <footer class="footer">
      <h1>Footer</h1>
    </footer>

</body>
</html>