{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="forum">
  <div class="forum-title">
    <h2>{{ board.title }}</h2>
    <p>{{ board.description }}</p>
  </div>
  {% for post in posts %}

  <div class="forum-post-container">
    <div class="post-subject">
      <h3>{{ post.subject }}</h3>
    </div>
    <div class="post-content">
      <p>{{ post.post }}</p>
    </div>
    <div class="post-info">
      <p>Posted by {{ post.user.username }} on {{ post.date_posted }}</p>
    </div>
  </div>
  

  {% endfor %}
  <div class="create-post-container">
    <button><a href="{% url 'post' board.id %}" class="create-post">Create Post</a></button>
  </div>
</div>

<style>
  .forum-post-container {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
  }

  .post-info {
    text-align: right;
  }
</style>
{% endblock content %}