{% extends 'base.html' %} 
{% block title %} {{ board.title }} - Frog Heads Forum {% endblock %} 
{% block content %}
<div class="forum-container">
  <h2>{{ board.title }}</h2>
  <p>{{ board.description }}</p>

  <div class="posts-container">
    {% for post in posts %}
    <div class="post" id="post_{{ post.id }}">
      <div class="post-header">
        <img src="{{ post.user.profile.profile_img.url }}" alt="{{ post.user.username }}'s profile image" class="post-profile-image">
        <div class="post-user-info">
          <strong>{{ post.user.username }}</strong>
          <h4>{{ post.date_posted }}</h4>
        </div>
        {% if request.user == post.user or request.user.groups.all.0.name == "Moderator" %}
        <div class="post-controls">
          {% if request.user == post.user %}
          <button class="edit-button" onclick="window.location.href='{% url 'edit_post' post.id %}'">Edit Post</button>
          {% endif %}
          <button class="delete-button" data-post-id="{{ post.id }}">Delete Post</button>
        </div>
        {% endif %}
      </div>
      <div class="post-body">
        <p>{{ post.post }}</p>
        {% if post.post_img %}
        <img src="{{ post.post_img.url }}" alt="Post image" class="post-image">
        {% endif %}
      </div>
    </div>
    {% empty %}
    <p>No posts yet. Be the first to post!</p>
    {% endfor %}
  </div>

  {% if user.is_authenticated %}
  <div class="new-post">
    <h3>New Post</h3>
    <form method="post" action="{% url 'post' board.id %}" id="newPostForm" enctype='multipart/form-data'>
      {% csrf_token %}
      <div class="form-group">
        <textarea class="textarea1" name="post" rows="10" cols="100" required></textarea>
      </div>
      <div class="form-image">
        {{ form.post_img.label_tag }} {{ form.post_img }}
        <div class="form-errors">{{ form.post_img.errors }}</div>
      </div>
      <button class="post-button" type="submit">Post</button>
    </form>
  </div>
  {% else %}
  <p><a href="{% url 'login' %}">Login</a> to post or reply.</p>
  {% endif %}
</div>

<!-- Modal -->
<div id="deleteModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Confirm Deletion</h2>
    <p>Are you sure you want to delete this post?</p>
    <div class="modal-buttons">
      <button id="confirmDeleteButton" class="confirm-button">Yes, delete</button>
      <button id="cancelButton" class="cancel-button">Cancel</button>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
document.addEventListener('DOMContentLoaded', (event) => {
    console.log('Document loaded');
    var modal = document.getElementById("deleteModal");
    var span = document.getElementsByClassName("close")[0];
    var confirmDeleteButton = document.getElementById("confirmDeleteButton");
    var postToDelete = null;

    document.querySelectorAll('.delete-button').forEach(button => {
        button.onclick = function() {
            console.log('Delete button clicked');
            postToDelete = this.getAttribute('data-post-id');
            modal.style.display = "block";
        }
    });

    span.onclick = function() {
        modal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    confirmDeleteButton.onclick = function() {
        console.log('Confirm delete clicked for post id: ', postToDelete);
        if (postToDelete) {
            window.location.href = '/mod-control-panel/delete-post/' + postToDelete + '/';
        }
    }

    document.getElementById("cancelButton").onclick = function() {
        modal.style.display = "none";
    }
});
</script>
{% endblock %}
